.contenido{
    min-height: 100vh;
    border: 1px transparent solid;
    background: black;
  }
  
  .centro{
    min-height: calc(40vh - 5px);
    border: 5px #fff solid;
    margin: 25vh 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .abajo{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  ion-icon{
    --color: none;
    color: #fff;
  }
  
  .abajo>ion-icon{
    width: 49%;
  }

  #escanear{
    font-size: 40px;
  }

  #detener{
    font-size: 40px;
  }

  #salir{
    font-size: 40px;
  }

  body.scanner-active {
    --background: transparent;
    --ion-background-color: transparent;
    background: transparent; // Ajusta el color de fondo según sea necesario
  }
  
  body.scanner-active ion-icon {
    color: white; // O ajusta el color de los iconos según sea necesario
  }