<ion-content [fullscreen]="true">
  <div id="contenido">
    <div #qrcode class="qr"></div>
    <div id="inputs">
      <label>ID de la clase</label>
      <input id="texto" type="text" >
      <label>Nombre de la clase</label>
      <input id="texto" type="text" >
      <label>Horario de inicio</label>
      <input id="texto" type="text" >
      <label>Horario de termino</label>
      <input id="texto" type="text" >
    </div>
    <button id="generar" >Generar</button>
    <button id="salir" >Salir</button>
</div>
</ion-content>