<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button default-href="#" (click)="Home()"></ion-back-button>
      </ion-buttons>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="contenido">
    <div id="Fotoperfil">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <div id="Info">
        
      <ion-label *ngFor="let user of authenticatedUsers" id="title">Nombre: {{ user.name }}</ion-label>
    
      <ion-label *ngFor="let user of authenticatedUsers" id="title">Correo: {{ user.email }}</ion-label>
    
      <ion-label *ngFor="let user of authenticatedUsers" id="title">RUT: {{ user.rut }}</ion-label>
</div>
  </div>
</ion-content>