<ion-content [fullscreen]="true">
  <ion-menu side="end" contentId="main-content">
    
<!-- Titulo Del menu Dentro -->
    <ion-header>
      <ion-toolbar>
        <ion-title style="--color: #fff;">Opciones</ion-title>
      </ion-toolbar>
    </ion-header>
    
<!-- Contenido del menu -->
    <ion-content id="menu" class="ion-padding">
      <div id="menu-content">
        <div style="--color: #fff;" id="options" (click)="Profile()" ><ion-icon name="person-circle-outline" size="large"></ion-icon>
          Perfil
        </div>
        <hr>
        <div style="--color: #fff;" id="options" (click)="QrGenerate()"><ion-icon name="qr-code-outline" size="large"></ion-icon>
          Generar QR
        </div>
        <hr>
        <div style="--color: #fff;" id="options" (click)="Login()"><ion-icon name="close-circle-outline" size="large"></ion-icon> 
          Cerrar Sesion
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    
<!-- Titulo del Home -->
    <ion-header>
      <ion-toolbar>
        <ion-title><span id="regis">Registr</span><span id="app">APP</span></ion-title>
        <ion-buttons slot="end">
          <ion-menu-button style="--color: #fff;"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    
<!-- Contenido del Home -->
    <ion-content>
      <div id="home">
        <div id="titulo" style="color: #fff;">Horarios registrados</div>
          <div id="listahorario">
             <!--Contenido de Lista Horario-->
             <table id="tabla">
              <thead>
                <tr>
                  <th>Seccion</th>
                  <th>Clase</th>
                  <th>Hora</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let datos of listQr">
                  <td>{{ datos.seccion }}</td>
                  <td>{{ datos.clase }}</td>
                  <td>{{ datos.hora }}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </ion-content>
  </div>
</ion-content>